{% extends 'base.html.twig' %}

{% block title %}Créer une réservation{% endblock %}

{% block body %}
<main class="wrapper">
    <h1>Créer une réservation</h1>
    {{ form_start(form) }}
        {{ form_rest(form)}}
        <button type="submit">Ajouter la réservation</button>
    {{ form_end(form) }}
</main>
{% endblock %}
