body {
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    max-width: 800px;
    margin: 2rem auto;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;

    & th,
    & td {
        border: 1px solid currentColor;
        padding: .5ch;
    }
}
