{% extends 'base.html.twig' %}

{% block title %}Créer un concert{% endblock %}

{% block body %}
<main class="wrapper">
    <h1>Créer un concert</h1>
    {{ form_start(form) }}
        {{ form_rest(form)}}
        <button type="submit">Ajouter le concert</button>
    {{ form_end(form) }}
</main>
{% endblock %}
