{% extends 'base.html.twig' %}

{% block title %}Modifier le concert{% endblock %}

{% block body %}
<main class="wrapper">
    <h1>Modifier le concert</h1>
    {{ form_start(form) }}
        {{ form_rest(form)}}
        <button type="submit">Enregistrer les modifications</button>
    {{ form_end(form) }}
    <a href="{{ path('app_admin_concert_read', { id: concert.id }) }}">Annuler les modifications</a>
</main>
{% endblock %}
